# Server Port
PORT=5000

# MongoDB Database Connection String (from your Atlas account)
DATABASE_URL=mongodb+srv://jphartman28_db_user=Qad9HqMgDOntm1TH@cluster0.dk3opva.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JWT Secrets (generate long random strings for these)
JWT_ACCESS_SECRET=YOUR_FIRST_JWT_SECRET=oO(p|5cL=B7Sq}W#}%8tiU)KxFHY5'1@
JWT_REFRESH_SECRET=YOUR_SECOND_JWT_SECRET=lk3kiDAj&@35%1y[m~uSN@e-u!-Bxwv3
JWT_EMAIL_SECRET=YOUR_THIRD_JWT_SECRET=kCUGlR:3,z"H){?4e:%|KN|y9\R=)u-I

# TransIP SMTP Email Configuration
SMTP_HOST=smtp.transip.email
SMTP_PORT=465
SMTP_USER=hello@fileninja.nl
SMTP_PASS=Sheismine79!!
SMTP_FROM=hello@fileninja.nl

# Google & GitHub OAuth Credentials
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID=862935629876-7odom016c8n502gdh4jsm6vjc9da34n3.apps-googleusercontent.com
GOOGLE_SECRET_ID=YOUR_GOOGLE_CLIENT_SECRET=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
GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID=0v231iPNIFEih9qK0oem
GITHUB_SECRET_ID=YOUR_GITHUB_CLIENT_SECRET=84972e2b9c9e815c59faf20e987e6919a8ec8507

# Development URLs
FRONTEND_URL=https://fileninja.nl
BACKEND_URL=https://fileninja.nl
